<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="http://localhost:8080/attach/open_general/frame.jpg">
<video width="320" height="240" controls >
    <source src="http://localhost:8080/attach/open_general/c45b17bd-8eb9-46a7-8507-83f0b8e946e8.mp4" type="video/mp4" >
    Your browser does not support the video tag.
</video>
<br>
<br>
<br>
<br>
<!--<audio controls >-->
<!--    <source src="http://localhost:8080/attach/open_general/5.mp3" type="audio/ogg">-->
<!--    Your browser does not support the audio element.-->
<!--</audio>-->
</body>
</html>